<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE Configuration SYSTEM "log4j.dtd"> -->
<Configuration>
	<Properties>

		<Property name="typicalWebappLog4jSocketHost">${sys:typicalWebappLog4jSocketHost}</Property>
		<Property name="typicalWebappLog4jSocketPort">${sys:typicalWebappLog4jSocketPort}</Property>

		<Property name="typicalWebappLogsDir">${sys:typicalWebappLogsDirectoryLoaction}
		</Property>

		<Property name="utilLogFilesDir">${typicalWebappLogsDir}/utilLogs
		</Property>
		<Property name="utilLogFileName">TypicalWebappUtil.log</Property>

		<Property name="appLogFilesDir">${typicalWebappLogsDir}/appLogs
		</Property>
		<Property name="appLogFileName">TypicalWebappApp.log</Property>

		<Property name="errorLogFilesDir">${typicalWebappLogsDir}/errorLogs
		</Property>
		<Property name="errorLogFileName">TypicalWebappError.log</Property>

		<Property name="htmlLogFilesDir">${typicalWebappLogsDir}/htmlLogs
		</Property>
		<Property name="htmlLogFileName">TypicalWebappLog.html</Property>

		<Property name="poolingLogFilesDir">${typicalWebappLogsDir}/poolingLogs
		</Property>
		<Property name="poolingLogFileName">TypicalWebappPooling.log</Property>

		<Property name="triggerLogFilesDir">${typicalWebappLogsDir}/triggerLogs
		</Property>
		<Property name="triggerLogFileName">TypicalWebappTrigger.log</Property>

		<Property name="configLogFilesDir">${typicalWebappLogsDir}/configLogs
		</Property>
		<Property name="configLogFileName">TypicalWebAppConfig.log</Property>

		<!-- <Property name="typicalWebappLogPatternLayout"><![CDATA[%d{MMM dd, 
			yyyy HH:mm:ss.SSS} #TypicalWebApp# [%X{TypicalWebAppCorrelationId}] - [%t] 
			%-5level %logger{36} - %msg%n]]></Property> -->
		<Property name="typicalWebappLogPatternLayout"><![CDATA[%d{MMMdd,yyyy-HH:mm:ss.SSS}#TypicalWebApp#[%X{TypicalWebAppCorrelationId}][%t]|%-5level|%C{1}#%M-%msg%n]]></Property>

	</Properties>

	<Appenders>

		<!-- appLogRollingFile -->
		<RollingFile name="appLogRollingFile" fileName="${appLogFilesDir}/${appLogFileName}"
			filePattern="${appLogFilesDir}/${appLogFileName}_%d{yyyy-MM-dd}_%i">

			<PatternLayout pattern="${typicalWebappLogPatternLayout}" />

			<Filters>
				<ThresholdFilter level="FATAL" onMatch="DENY"
					onMismatch="NEUTRAL" />
			</Filters>

			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
				<TimeBasedTriggeringPolicy interval="1"
					modulate="false" />
			</Policies>
			<DefaultRolloverStrategy>
				<Delete basePath="${appLogFilesDir}" maxDepth="1">
					<IfLastModified age="1M" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<!-- utilLogRollingFile -->
		<RollingFile name="utilLogRollingFile" fileName="${utilLogFilesDir}/${utilLogFileName}"
			filePattern="${utilLogFilesDir}/${utilLogFileName}_%d{yyyy-MM-dd}_%i">

			<PatternLayout pattern="${typicalWebappLogPatternLayout}" />

			<Filters>
				<ThresholdFilter level="FATAL" onMatch="DENY"
					onMismatch="NEUTRAL" />
			</Filters>

			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
				<TimeBasedTriggeringPolicy interval="1"
					modulate="false" />
			</Policies>
			<DefaultRolloverStrategy>
				<Delete basePath="${utilLogFilesDir}" maxDepth="1">
					<IfLastModified age="1M" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<!-- errorLogRollingFile -->
		<RollingFile name="errorLogRollingFile"
			fileName="${errorLogFilesDir}/${errorLogFileName}" filePattern="${errorLogFilesDir}/${errorLogFileName}_%d{yyyy-MM-dd}_%i">

			<PatternLayout pattern="${typicalWebappLogPatternLayout}" />

			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
				<TimeBasedTriggeringPolicy interval="1"
					modulate="false" />
			</Policies>
			<DefaultRolloverStrategy>
				<Delete basePath="${errorLogFilesDir}" maxDepth="1">
					<IfLastModified age="1M" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<!-- htmlLogRollingFile -->
		<RollingFile name="htmlLogRollingFile" fileName="${htmlLogFilesDir}/${htmlLogFileName}"
			filePattern="${htmlLogFilesDir}/${htmlLogFileName}_%d{yyyy-MM-dd}_%i">

			<Filters>
				<ThresholdFilter level="FATAL" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="ERROR" onMatch="ACCEPT"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="WARN" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="INFO" onMatch="ACCEPT"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="TRACE" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="ALL" onMatch="DENY"
					onMismatch="NEUTRAL" />
			</Filters>

			<HTMLLayout charset="UTF-8" title="Typicalwebapp Logs"
				locationInfo="false" />

			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
				<TimeBasedTriggeringPolicy interval="1"
					modulate="false" />
			</Policies>

			<DefaultRolloverStrategy>
				<Delete basePath="${htmlLogFilesDir}" maxDepth="1">
					<IfLastModified age="1M" />
				</Delete>
			</DefaultRolloverStrategy>

		</RollingFile>


		<!-- poolingLogRollingFile -->
		<RollingFile name="poolingLogRollingFile"
			fileName="${poolingLogFilesDir}/${poolingLogFileName}"
			filePattern="${poolingLogFilesDir}/${poolingLogFileName}_%d{yyyy-MM-dd}_%i">

			<PatternLayout pattern="${typicalWebappLogPatternLayout}" />

			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
				<TimeBasedTriggeringPolicy interval="1"
					modulate="false" />
			</Policies>

			<DefaultRolloverStrategy>
				<Delete basePath="${poolingLogFilesDir}" maxDepth="1">
					<IfLastModified age="1M" />
				</Delete>
			</DefaultRolloverStrategy>

		</RollingFile>


		<!-- triggerLogRollingFile -->
		<RollingFile name="triggerLogRollingFile"
			fileName="${triggerLogFilesDir}/${triggerLogFileName}"
			filePattern="${triggerLogFilesDir}/${triggerLogFileName}_%d{yyyy-MM-dd}_%i">

			<PatternLayout pattern="${typicalWebappLogPatternLayout}" />

			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
				<TimeBasedTriggeringPolicy interval="1"
					modulate="false" />
			</Policies>

			<DefaultRolloverStrategy>
				<Delete basePath="${triggerLogFilesDir}" maxDepth="1">
					<IfLastModified age="1M" />
				</Delete>
			</DefaultRolloverStrategy>

		</RollingFile>

		<!-- configLogRollingFile -->
		<RollingFile name="configLogRollingFile"
			fileName="${configLogFilesDir}/${configLogFileName}"
			filePattern="${configLogFilesDir}/${configLogFileName}_%d{yyyy-MM-dd}_%i">

			<Filters>
				<ThresholdFilter level="FATAL" onMatch="DENY"
					onMismatch="NEUTRAL" />
			</Filters>

			<PatternLayout pattern="${typicalWebappLogPatternLayout}" />

			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
				<TimeBasedTriggeringPolicy interval="1"
					modulate="false" />
			</Policies>

			<DefaultRolloverStrategy>
				<Delete basePath="${configLogFilesDir}" maxDepth="1">
					<IfLastModified age="1d" />
				</Delete>
			</DefaultRolloverStrategy>

		</RollingFile>

		<!-- Console -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${typicalWebappLogPatternLayout}" />
		</Console>

		<!-- Socket -->
		<Socket name="Socket" host="${typicalWebappLog4jSocketHost}"
			port="${typicalWebappLog4jSocketPort}">
			<SerializedLayout />
		</Socket>

	</Appenders>

	<Loggers>

		<!-- utilLogRollingFile should be added to all child loggers -->

		<Logger name="com.mevenk.typicalwebapp" level="ALL" additivity="false">
			<!-- <AppenderRef ref="utilLogRollingFile" level="TRACE" /> -->
			<AppenderRef ref="appLogRollingFile" level="INFO" />
			<AppenderRef ref="errorLogRollingFile" level="ERROR" />
			<AppenderRef ref="htmlLogRollingFile" level="INFO" />
		</Logger>

		<Logger name="com.mevenk.typicalwebapp.controller" level="TRACE">
			<AppenderRef ref="utilLogRollingFile" level="DEBUG" />
		</Logger>

		<Logger name="com.mevenk.typicalwebapp.service" level="TRACE">
			<AppenderRef ref="utilLogRollingFile" level="DEBUG" />
		</Logger>

		<Logger name="com.mevenk.typicalwebapp.exception" level="TRACE">
			<AppenderRef ref="utilLogRollingFile" level="TRACE" />
		</Logger>

		<!-- Independent of other loggers. -->
		<Logger name="com.mevenk.typicalwebapp.config" level="CONFIG"
			additivity="false">
			<AppenderRef ref="configLogRollingFile" level="CONFIG" />
		</Logger>

		<!-- Independent of other loggers. -->
		<Logger name="com.mevenk.typicalwebapp.service.impl.ClientUtilServiceimpl"
			level="TRACE" additivity="false">
			<AppenderRef ref="utilLogRollingFile" level="TRACE" />
		</Logger>

		<!-- Independent of other loggers. -->
		<Logger name="com.mevenk.typicalwebapp.pooling" level="POOLING"
			additivity="false">
			<AppenderRef ref="errorLogRollingFile" level="ERROR" />
			<AppenderRef ref="poolingLogRollingFile" level="POOLING" />
		</Logger>

		<!-- Independent of other loggers. -->
		<Logger name="com.mevenk.typicalwebapp.trigger" level="TRIGGER"
			additivity="false">
			<AppenderRef ref="errorLogRollingFile" level="ERROR" />
			<AppenderRef ref="triggerLogRollingFile" level="TRIGGER" />
		</Logger>

		<Logger name="org.springframework" level="ALL">
			<AppenderRef ref="configLogRollingFile" level="ALL" />
		</Logger>

		<Root level="ALL">
			<AppenderRef ref="Console" />
		</Root>

	</Loggers>

</Configuration>