<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE Configuration SYSTEM "log4j.dtd"> -->
<Configuration>
	<Properties>

		<Property name="typicalWebappLog4jSocketHost">${sys:typicalWebappLog4jSocketHost}</Property>
		<Property name="typicalWebappLog4jSocketPort">${sys:typicalWebappLog4jSocketPort}</Property>

		<Property name="typicalWebappLogsDir">${sys:typicalWebappLogsDirectoryLoaction}
		</Property>

		<Property name="utilLogFilesDir">${typicalWebappLogsDir}/utilLogs
		</Property>
		<Property name="utilLogFileName">TypicalWebappUtil.log</Property>

		<Property name="appLogFilesDir">${typicalWebappLogsDir}/appLogs
		</Property>
		<Property name="appLogFileName">TypicalWebappApp.log</Property>

		<Property name="errorLogFilesDir">${typicalWebappLogsDir}/errorLogs
		</Property>
		<Property name="errorLogFileName">TypicalWebappError.log</Property>

		<Property name="htmlLogFilesDir">${typicalWebappLogsDir}/htmlLogs
		</Property>
		<Property name="htmlLogFileName">TypicalWebappLog.html</Property>

		<Property name="springLogFilesDir">${typicalWebappLogsDir}/springLogs
		</Property>
		<Property name="springLogFileName">SpringLog.log</Property>

		<Property name="typicalWebappLogPatternLayout"><![CDATA[%d{MMM dd, yyyy HH:mm:ss.SSS} #TypicalWebApp# [%X{TypicalWebAppCorrelationId}] - [%t] %-5level %logger{36} - %msg%n]]></Property>

	</Properties>

	<Appenders>

		<!-- appLogRollingFile -->
		<RollingFile name="appLogRollingFile" fileName="${appLogFilesDir}/${appLogFileName}"
			filePattern="${appLogFilesDir}/${appLogFileName}_%d{yyyy-MM-dd}_%i">
			<PatternLayout pattern="${typicalWebappLogPatternLayout}" />

			<Filters>
				<ThresholdFilter level="FATAL" onMatch="DENY"
					onMismatch="NEUTRAL" />
			</Filters>

			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
				<TimeBasedTriggeringPolicy interval="1"
					modulate="false" />
			</Policies>
			<DefaultRolloverStrategy>
				<Delete basePath="${appLogFilesDir}" maxDepth="1">
					<IfLastModified age="1M" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<!-- utilLogRollingFile -->
		<RollingFile name="utilLogRollingFile" fileName="${utilLogFilesDir}/${utilLogFileName}"
			filePattern="${utilLogFilesDir}/${utilLogFileName}_%d{yyyy-MM-dd}_%i">
			<PatternLayout pattern="${typicalWebappLogPatternLayout}" />

			<Filters>
				<ThresholdFilter level="FATAL" onMatch="DENY"
					onMismatch="NEUTRAL" />
			</Filters>

			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
				<TimeBasedTriggeringPolicy interval="1"
					modulate="false" />
			</Policies>
			<DefaultRolloverStrategy>
				<Delete basePath="${utilLogFilesDir}" maxDepth="1">
					<IfLastModified age="1M" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<!-- errorLogRollingFile -->
		<RollingFile name="errorLogRollingFile"
			fileName="${errorLogFilesDir}/${errorLogFileName}" filePattern="${errorLogFilesDir}/${errorLogFileName}_%d{yyyy-MM-dd}_%i">
			<PatternLayout pattern="${typicalWebappLogPatternLayout}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
				<TimeBasedTriggeringPolicy interval="1"
					modulate="false" />
			</Policies>
			<DefaultRolloverStrategy>
				<Delete basePath="${errorLogFilesDir}" maxDepth="1">
					<IfLastModified age="1M" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<!-- htmlLogRollingFile -->
		<RollingFile name="htmlLogRollingFile" fileName="${htmlLogFilesDir}/${htmlLogFileName}"
			filePattern="${htmlLogFilesDir}/${htmlLogFileName}_%d{yyyy-MM-dd}_%i">

			<Filters>
				<ThresholdFilter level="FATAL" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="ERROR" onMatch="ACCEPT"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="WARN" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="INFO" onMatch="ACCEPT"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="TRACE" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="ALL" onMatch="DENY"
					onMismatch="NEUTRAL" />
			</Filters>

			<HTMLLayout charset="UTF-8" title="Typicalwebapp Logs"
				locationInfo="false" />
			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
				<TimeBasedTriggeringPolicy interval="1"
					modulate="false" />
			</Policies>
			<DefaultRolloverStrategy>
				<Delete basePath="${htmlLogFilesDir}" maxDepth="1">
					<IfLastModified age="1M" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<!-- springLogRollingFile -->
		<RollingFile name="springLogRollingFile"
			fileName="${springLogFilesDir}/${springLogFileName}"
			filePattern="${springLogFilesDir}/${springLogFileName}_%d{yyyy-MM-dd}_%i">

			<Filters>
				<ThresholdFilter level="FATAL" onMatch="DENY"
					onMismatch="NEUTRAL" />
			</Filters>

			<PatternLayout pattern="${typicalWebappLogPatternLayout}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
				<TimeBasedTriggeringPolicy interval="1"
					modulate="false" />
			</Policies>
			<DefaultRolloverStrategy>
				<Delete basePath="${springLogFilesDir}" maxDepth="1">
					<IfLastModified age="1M" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<!-- Console -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${typicalWebappLogPatternLayout}" />
		</Console>

		<!-- Socket -->
		<Socket name="Socket" host="${typicalWebappLog4jSocketHost}"
			port="${typicalWebappLog4jSocketPort}">
			<SerializedLayout />
		</Socket>

	</Appenders>

	<Loggers>

		<!-- utilLogRollingFile should be added to all child loggers -->

		<Logger name="com.mevenk.typicalwebapp" level="TRACE"
			additivity="false">
			<!-- <AppenderRef ref="utilLogRollingFile" level="TRACE" /> -->
			<AppenderRef ref="appLogRollingFile" level="INFO" />
			<AppenderRef ref="errorLogRollingFile" level="ERROR" />
			<AppenderRef ref="htmlLogRollingFile" level="INFO" />
		</Logger>

		<Logger name="com.mevenk.typicalwebapp.controller" level="TRACE">
			<AppenderRef ref="utilLogRollingFile" level="DEBUG" />
		</Logger>

		<Logger name="com.mevenk.typicalwebapp.service" level="TRACE">
			<AppenderRef ref="utilLogRollingFile" level="DEBUG" />
		</Logger>

		<Logger name="com.mevenk.typicalwebapp.exception" level="TRACE">
			<AppenderRef ref="utilLogRollingFile" level="TRACE" />
		</Logger>

		<!-- Independent of other loggers. -->
		<Logger name="com.mevenk.typicalwebapp.service.impl.ClientUtilServiceimpl"
			level="TRACE" additivity="false">
			<AppenderRef ref="utilLogRollingFile" level="TRACE" />
		</Logger>

		<Logger name="org.springframework" level="TRACE">
			<AppenderRef ref="springLogRollingFile" level="DEBUG" />
		</Logger>

		<Root level="ALL">
			<AppenderRef ref="Console" />
		</Root>

	</Loggers>

</Configuration>